a {
    text-decoration: none;
    color: white;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

header {
    background-image: url("img/steam.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    grid-column: 1 / -1;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100%;
}

nav {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 1em 2em;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: aquamarine;
    transition: 0.9s;
}

.button {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    padding: 5px 35px;
    transition: 0.9s;
}
.button:hover {
    background-color: azure;
    color: rgba(0, 0, 0, 0.841);
    transition: 0.9s;
}

.banner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner h1 {
    font-size: 50px;
}

.banner p {
    font-size: 22px;
    text-align: center;
    min-width: 40%;
    padding: 50px 0;
}

.contentInfo {
    grid-column: 2 / -2;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

.tiles {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 100px;
    margin-bottom: 100px;
}

.tiles .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.tiles .item img {
    width: 100%;
    object-fit: cover;
}

footer {
    grid-column: 1 / -1;
    height: 30vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 30px 0;
}

.cont {
    background-image: url("games/завантаження.jfif");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    grid-column: 1 / -1;
    height: 100vh;
    color: white;
    display: flex;
   flex-direction: column;
}
.contact{
    grid-column: 2 / -2;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 150px;
}
.request{
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
}
input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    font-size: 18px;
    padding: 20px 5px;
    margin: 30px 0;
}
    

.submit{
    width: 300px;
    border-radius: 40px;
    background: black;
    color: white;
    align-self: center;
}
.submit:hover{
    cursor: pointer;
}
.map_desc{
    grid-column: 2 / -2;
    padding-top: 100px;
}
iframe{
    grid-column: 1 / -1;
    width: 100%;
    height: 50vh;
    margin-top: 20px;
}

.contacts a:hover {
    color: rgba(140, 140, 140, 0.78);
    transition: 0.9s;
}

.cost {
    color: green;
}