a {
    text-decoration: none;
    color: white;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

header {
    background-image: url("img/photo_2025-12-11_10-26-46.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    grid-column: 1 / -1;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100%;
}

nav {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 1em 2em;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: aquamarine;
    transition: 0.9s;
}

.button {
    color: rgba(168, 168, 168, 0.83);
    padding: 5px 35px;
}

.button:hover {
    color: rgba(255, 255, 255, 0.83);
    transition: 0.9s;
}

.banner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner h1 {
    font-size: 50px;
}

.banner p {
    font-size: 22px;
    text-align: center;
    min-width: 40%;
    padding: 50px 0;
}

.games {
    grid-column: 2 / -2;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background: linear-gradient(to right, red, blue,orange);
    -webkit-background-clip: text;
    color: transparent;
}

.tiles {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 100px;
}

.item {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    overflow: hidden;
    border: 5px solid transparent;
  border-image: linear-gradient(to right, red, blue, orange) 1;
}

.item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.item_overlay {
    background: rgba(0, 0, 0, 0.5);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 2;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
}

.item_overlay h3 {
     background: linear-gradient(to right, red,orange);
    -webkit-background-clip: text;
    color: transparent;
    padding: 15px 50px;
}

.item_overlay h3:hover {
   color: white;
    transition: 2.7s;
}

.item_overlay h3 {
    background: linear-gradient(to left,orange, red);
    -webkit-background-clip: text;
    color: transparent;
    transition: 2.7s;
}

.item:hover .item_img {
    transform: scale(1.30);
    transition: 0.5s;
}

.item .item_img {
    transition: 0.5s;
}

footer {
    grid-column: 1 / -1;
    height: 30vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 30px 0;
}

.contacts {
    display: flex;
    width: 10vw;
    justify-content: space-around;
}

.contacts a:hover {
    color: rgba(140, 140, 140, 0.78);
    transition: 0.9s;
}